@font-face {
    font-family: 'poppins-regular';
    src: url('/assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-wight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'poppins-bold';
    src: url('/assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-wight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'poppins-bold';
    src: url('/assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-wight: 400;
    font-style: normal;
}

body {
  font-family: 'poppins-regular' !important;
}

#title {
    font-family: 'poppins-bold'
}